{
    "openapi": "3.0.0",
    "info": {
        "title": "sevDesk Contact API",
        "description": "\r\n# General information\r\nWelcome to our Contact API!<br>\r\nYou can use it to manage contacts in your sevDesk account.\r\n\r\n# Cross-Origin Resource Sharing\r\nThis API features Cross-Origin Resource Sharing (CORS).<br>\r\nIt enables cross-domain communication from the browser.<br>\r\nAll responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.\r\n\r\n# Embedding resources\r\nWhen retrieving resources by using this API, you might encounter nested resources in the resources you requested.<br>\r\nFor example, an invoice always contains a contact, of which you can see the ID and the object name.<br>\r\nThis API gives you the possibility to embed these resources completely into the resources you originally requested.<br>\r\nTaking our invoice example, this would mean, that you would not only see the ID and object name of a contact, but rather the complete contact resource.\r\n\r\nTo embed resources, all you need to do is to add the query parameter 'embed' to your GET request.<br>\r\nAs values, you can provide the name of the nested resource.<br>\r\nMultiple nested resources are also possible by providing multiple names, separated by a comma.\r\n",
        "contact": {
            "email": "support@sevdesk.de"
        },
        "version": "2.0.0",
        "x-logo": {
            "url": "https://my.sevdesk.de/img/logos/1_100.png",
            "backgroundColor": "#263241",
            "altText": "sevDesk Logo"
        }
    },
    "servers": [
        {
            "url": "https://my.sevdesk.de/api/v1",
            "description": "Our main application instance which most of our customers work with"
        },
        {
            "url": "https://my.pebesmart.ch/api/v1",
            "description": "Our swiss application instance, hosted and maintained by smart seven AG"
        },
        {
            "url": "http://sevdesk.local/api/v1",
            "description": "sevDesk internal local instance"
        }
    ],
    "paths": {
        "/Contact/Factory/getNextCustomerNumber": {
            "get": {
                "tags": [
                    "Contact"
                ],
                "summary": "Get next free customer number",
                "description": "Retrieves the next available customer number. Avoids duplicates.",
                "operationId": "getNextCustomerNumber",
                "responses": {
                    "200": {
                        "description": "Returns next available customer number",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "objects": {
                                            "description": "Next available customer number",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Authentication required"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "/Contact/Mapper/checkCustomerNumberAvailability": {
            "get": {
                "tags": [
                    "Contact"
                ],
                "summary": "Check if a customer number is available",
                "description": "Checks if a given customer number is available or already used.",
                "operationId": "contactCustomerNumberAvailabilityCheck",
                "parameters": [
                    {
                        "name": "customerNumber",
                        "in": "query",
                        "description": "The customer number to be checked.",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns whether given customer number is available.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "objects": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Authentication required"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "/Contact": {
            "get": {
                "tags": [
                    "Contact"
                ],
                "summary": "Retrieve contacts",
                "description": "There are a multitude of parameter which can be used to filter.<br>\r\n     A few of them are attached but\r\n     for a complete list please check out <a href='https://5677.extern.sevdesk.dev/apiOverview/index.html#/doc-contacts#filtering'>this</a> list",
                "operationId": "getContacts",
                "parameters": [
                    {
                        "name": "depth",
                        "in": "query",
                        "description": "Defines if both organizations <b>and</b> persons should be returned.<br>\r\n     '0' -> only organizations, '1' -> organizations and persons",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                "0",
                                "1"
                            ]
                        }
                    },
                    {
                        "name": "customerNumber",
                        "in": "query",
                        "description": "Retrieve all contacts with this customer number",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "objects": {
                                            "type": "array",
                                            "items": {
                                                "title": "Contact model",
                                                "description": "Contact model",
                                                "required": [
                                                    "category"
                                                ],
                                                "properties": {
                                                    "id": {
                                                        "description": "The contact id",
                                                        "type": "integer",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "objectName": {
                                                        "description": "The contact object name",
                                                        "type": "string",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "create": {
                                                        "description": "Date of contact creation",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "readOnly": true
                                                    },
                                                    "update": {
                                                        "description": "Date of last contact update",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "readOnly": true
                                                    },
                                                    "name": {
                                                        "description": "The organization name.<br>\nBe aware that the type of contact will depend on this attribute.<br>\nIf it holds a value, the contact will be regarded as an organization.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "customerNumber": {
                                                        "description": "The customer number",
                                                        "type": "string",
                                                        "default": null,
                                                        "example": "Customer-1337",
                                                        "nullable": true
                                                    },
                                                    "parent": {
                                                        "description": "The parent contact to which this contact belongs. Must be an organization.",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the parent contact",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'Contact'",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "surename": {
                                                        "description": "The <b>first</b> name of the contact.<br>\nYeah... not quite right in literally every way. We know.<br>\nNot to be used for organizations.",
                                                        "type": "string",
                                                        "default": null,
                                                        "example": "John",
                                                        "nullable": true
                                                    },
                                                    "familyname": {
                                                        "description": "The last name of the contact.<br>\nNot to be used for organizations.",
                                                        "type": "string",
                                                        "default": null,
                                                        "example": "Snow",
                                                        "nullable": true
                                                    },
                                                    "titel": {
                                                        "description": "A non-academic title for the contact.\nNot to be used for organizations.",
                                                        "type": "string",
                                                        "default": null,
                                                        "example": "Commander",
                                                        "nullable": true
                                                    },
                                                    "category": {
                                                        "description": "Category of the contact.<br> For more information,\r\n     see <a href='https://my.sevdesk.de/apiOverview/index.html#/doc-contacts#types'>here</a>.",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the category",
                                                                "type": "integer",
                                                                "example": 3
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'Category'",
                                                                "type": "string",
                                                                "default": "Category"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "nullable": false
                                                    },
                                                    "description": {
                                                        "description": "A description for the contact.",
                                                        "type": "string",
                                                        "default": null,
                                                        "example": "Rightful king of the seven kingdoms",
                                                        "nullable": true
                                                    },
                                                    "academicTitle": {
                                                        "description": "A academic title for the contact.\nNot to be used for organizations.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "gender": {
                                                        "description": "Gender of the contact.<br>\nNot to be used for organizations.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "sevClient": {
                                                        "description": "Client to which contact belongs. Will be filled automatically",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the client",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'SevClient'",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "readOnly": true
                                                    },
                                                    "name2": {
                                                        "description": "Second name of the contact.<br>\nNot to be used for organizations.",
                                                        "type": "string",
                                                        "default": null,
                                                        "example": "Targaryen",
                                                        "nullable": true
                                                    },
                                                    "birthday": {
                                                        "description": "Birthday of the contact.<br>\nNot to be used for organizations.",
                                                        "type": "string",
                                                        "format": "date",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "vatNumber": {
                                                        "description": "Vat number of the contact.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "bankAccount": {
                                                        "description": "Bank account number (IBAN) of the contact.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "bankNumber": {
                                                        "description": "Bank number of the bank used by the contact.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "defaultCashbackTime": {
                                                        "description": "Absolute time in days which the contact has to pay his invoices and subsequently get a cashback.",
                                                        "type": "integer",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "defaultCashbackPercent": {
                                                        "description": "Percentage of the invoice sum the contact gets back if he payed invoices in time.",
                                                        "type": "number",
                                                        "format": "float",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "defaultTimeToPay": {
                                                        "description": "The payment goal in days which is set for every invoice of the contact.",
                                                        "type": "integer",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "taxNumber": {
                                                        "description": "The tax number of the contact.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "taxOffice": {
                                                        "description": "The tax office responsible for the contact.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "exemptVat": {
                                                        "description": "Defines if the contact is freed from paying vat.",
                                                        "type": "boolean",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "taxType": {
                                                        "description": "Defines which tax regulation the contact is using.",
                                                        "type": "string",
                                                        "default": null,
                                                        "enum": [
                                                            "default",
                                                            "eu",
                                                            "noteu",
                                                            "custom"
                                                        ],
                                                        "nullable": true
                                                    },
                                                    "taxSet": {
                                                        "description": "Tax set which is used in every invoice of the contact.",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the tax set",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'TaxSet'",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "defaultDiscountAmount": {
                                                        "description": "The default discount the contact gets for every invoice.<br>\nDepending on defaultDiscountPercentage attribute, in percent or absolute value.",
                                                        "type": "number",
                                                        "format": "float",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "defaultDiscountPercentage": {
                                                        "description": "Defines if the discount is a percentage (true) or an absolute value (false).",
                                                        "type": "boolean",
                                                        "default": null,
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Authentication required"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Contact"
                ],
                "summary": "Create a new contact",
                "description": "Creates a new contact.<br>\r\n     For adding addresses and communication ways, you will need to use the ContactAddress and CommunicationWay endpoints.",
                "operationId": "createContact",
                "requestBody": {
                    "description": "Creation data",
                    "content": {
                        "json": {
                            "schema": {
                                "title": "Contact model",
                                "description": "Contact model",
                                "required": [
                                    "category"
                                ],
                                "properties": {
                                    "id": {
                                        "description": "The contact id",
                                        "type": "integer",
                                        "readOnly": true,
                                        "nullable": false
                                    },
                                    "objectName": {
                                        "description": "The contact object name",
                                        "type": "string",
                                        "readOnly": true,
                                        "nullable": false
                                    },
                                    "create": {
                                        "description": "Date of contact creation",
                                        "type": "string",
                                        "format": "date-time",
                                        "readOnly": true
                                    },
                                    "update": {
                                        "description": "Date of last contact update",
                                        "type": "string",
                                        "format": "date-time",
                                        "readOnly": true
                                    },
                                    "name": {
                                        "description": "The organization name.<br>\nBe aware that the type of contact will depend on this attribute.<br>\nIf it holds a value, the contact will be regarded as an organization.",
                                        "type": "string",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "customerNumber": {
                                        "description": "The customer number",
                                        "type": "string",
                                        "default": null,
                                        "example": "Customer-1337",
                                        "nullable": true
                                    },
                                    "parent": {
                                        "description": "The parent contact to which this contact belongs. Must be an organization.",
                                        "required": [
                                            "id",
                                            "objectName"
                                        ],
                                        "properties": {
                                            "id": {
                                                "description": "Unique identifier of the parent contact",
                                                "type": "integer"
                                            },
                                            "objectName": {
                                                "description": "Model name, which is 'Contact'",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "surename": {
                                        "description": "The <b>first</b> name of the contact.<br>\nYeah... not quite right in literally every way. We know.<br>\nNot to be used for organizations.",
                                        "type": "string",
                                        "default": null,
                                        "example": "John",
                                        "nullable": true
                                    },
                                    "familyname": {
                                        "description": "The last name of the contact.<br>\nNot to be used for organizations.",
                                        "type": "string",
                                        "default": null,
                                        "example": "Snow",
                                        "nullable": true
                                    },
                                    "titel": {
                                        "description": "A non-academic title for the contact.\nNot to be used for organizations.",
                                        "type": "string",
                                        "default": null,
                                        "example": "Commander",
                                        "nullable": true
                                    },
                                    "category": {
                                        "description": "Category of the contact.<br> For more information,\r\n     see <a href='https://my.sevdesk.de/apiOverview/index.html#/doc-contacts#types'>here</a>.",
                                        "required": [
                                            "id",
                                            "objectName"
                                        ],
                                        "properties": {
                                            "id": {
                                                "description": "Unique identifier of the category",
                                                "type": "integer",
                                                "example": 3
                                            },
                                            "objectName": {
                                                "description": "Model name, which is 'Category'",
                                                "type": "string",
                                                "default": "Category"
                                            }
                                        },
                                        "type": "object",
                                        "nullable": false
                                    },
                                    "description": {
                                        "description": "A description for the contact.",
                                        "type": "string",
                                        "default": null,
                                        "example": "Rightful king of the seven kingdoms",
                                        "nullable": true
                                    },
                                    "academicTitle": {
                                        "description": "A academic title for the contact.\nNot to be used for organizations.",
                                        "type": "string",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "gender": {
                                        "description": "Gender of the contact.<br>\nNot to be used for organizations.",
                                        "type": "string",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "sevClient": {
                                        "description": "Client to which contact belongs. Will be filled automatically",
                                        "required": [
                                            "id",
                                            "objectName"
                                        ],
                                        "properties": {
                                            "id": {
                                                "description": "Unique identifier of the client",
                                                "type": "integer"
                                            },
                                            "objectName": {
                                                "description": "Model name, which is 'SevClient'",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object",
                                        "readOnly": true
                                    },
                                    "name2": {
                                        "description": "Second name of the contact.<br>\nNot to be used for organizations.",
                                        "type": "string",
                                        "default": null,
                                        "example": "Targaryen",
                                        "nullable": true
                                    },
                                    "birthday": {
                                        "description": "Birthday of the contact.<br>\nNot to be used for organizations.",
                                        "type": "string",
                                        "format": "date",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "vatNumber": {
                                        "description": "Vat number of the contact.",
                                        "type": "string",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "bankAccount": {
                                        "description": "Bank account number (IBAN) of the contact.",
                                        "type": "string",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "bankNumber": {
                                        "description": "Bank number of the bank used by the contact.",
                                        "type": "string",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "defaultCashbackTime": {
                                        "description": "Absolute time in days which the contact has to pay his invoices and subsequently get a cashback.",
                                        "type": "integer",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "defaultCashbackPercent": {
                                        "description": "Percentage of the invoice sum the contact gets back if he payed invoices in time.",
                                        "type": "number",
                                        "format": "float",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "defaultTimeToPay": {
                                        "description": "The payment goal in days which is set for every invoice of the contact.",
                                        "type": "integer",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "taxNumber": {
                                        "description": "The tax number of the contact.",
                                        "type": "string",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "taxOffice": {
                                        "description": "The tax office responsible for the contact.",
                                        "type": "string",
                                        "default": null,
                                        "nullable": true,
                                        "deprecated": true
                                    },
                                    "exemptVat": {
                                        "description": "Defines if the contact is freed from paying vat.",
                                        "type": "boolean",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "taxType": {
                                        "description": "Defines which tax regulation the contact is using.",
                                        "type": "string",
                                        "default": null,
                                        "enum": [
                                            "default",
                                            "eu",
                                            "noteu",
                                            "custom"
                                        ],
                                        "nullable": true
                                    },
                                    "taxSet": {
                                        "description": "Tax set which is used in every invoice of the contact.",
                                        "required": [
                                            "id",
                                            "objectName"
                                        ],
                                        "properties": {
                                            "id": {
                                                "description": "Unique identifier of the tax set",
                                                "type": "integer"
                                            },
                                            "objectName": {
                                                "description": "Model name, which is 'TaxSet'",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "defaultDiscountAmount": {
                                        "description": "The default discount the contact gets for every invoice.<br>\nDepending on defaultDiscountPercentage attribute, in percent or absolute value.",
                                        "type": "number",
                                        "format": "float",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "defaultDiscountPercentage": {
                                        "description": "Defines if the discount is a percentage (true) or an absolute value (false).",
                                        "type": "boolean",
                                        "default": null,
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created - Returns created contact",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "objects": {
                                            "type": "array",
                                            "items": {
                                                "title": "Contact model",
                                                "description": "Contact model",
                                                "required": [
                                                    "category"
                                                ],
                                                "properties": {
                                                    "id": {
                                                        "description": "The contact id",
                                                        "type": "integer",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "objectName": {
                                                        "description": "The contact object name",
                                                        "type": "string",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "create": {
                                                        "description": "Date of contact creation",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "readOnly": true
                                                    },
                                                    "update": {
                                                        "description": "Date of last contact update",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "readOnly": true
                                                    },
                                                    "name": {
                                                        "description": "The organization name.<br>\nBe aware that the type of contact will depend on this attribute.<br>\nIf it holds a value, the contact will be regarded as an organization.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "customerNumber": {
                                                        "description": "The customer number",
                                                        "type": "string",
                                                        "default": null,
                                                        "example": "Customer-1337",
                                                        "nullable": true
                                                    },
                                                    "parent": {
                                                        "description": "The parent contact to which this contact belongs. Must be an organization.",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the parent contact",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'Contact'",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "surename": {
                                                        "description": "The <b>first</b> name of the contact.<br>\nYeah... not quite right in literally every way. We know.<br>\nNot to be used for organizations.",
                                                        "type": "string",
                                                        "default": null,
                                                        "example": "John",
                                                        "nullable": true
                                                    },
                                                    "familyname": {
                                                        "description": "The last name of the contact.<br>\nNot to be used for organizations.",
                                                        "type": "string",
                                                        "default": null,
                                                        "example": "Snow",
                                                        "nullable": true
                                                    },
                                                    "titel": {
                                                        "description": "A non-academic title for the contact.\nNot to be used for organizations.",
                                                        "type": "string",
                                                        "default": null,
                                                        "example": "Commander",
                                                        "nullable": true
                                                    },
                                                    "category": {
                                                        "description": "Category of the contact.<br> For more information,\r\n     see <a href='https://my.sevdesk.de/apiOverview/index.html#/doc-contacts#types'>here</a>.",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the category",
                                                                "type": "integer",
                                                                "example": 3
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'Category'",
                                                                "type": "string",
                                                                "default": "Category"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "nullable": false
                                                    },
                                                    "description": {
                                                        "description": "A description for the contact.",
                                                        "type": "string",
                                                        "default": null,
                                                        "example": "Rightful king of the seven kingdoms",
                                                        "nullable": true
                                                    },
                                                    "academicTitle": {
                                                        "description": "A academic title for the contact.\nNot to be used for organizations.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "gender": {
                                                        "description": "Gender of the contact.<br>\nNot to be used for organizations.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "sevClient": {
                                                        "description": "Client to which contact belongs. Will be filled automatically",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the client",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'SevClient'",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "readOnly": true
                                                    },
                                                    "name2": {
                                                        "description": "Second name of the contact.<br>\nNot to be used for organizations.",
                                                        "type": "string",
                                                        "default": null,
                                                        "example": "Targaryen",
                                                        "nullable": true
                                                    },
                                                    "birthday": {
                                                        "description": "Birthday of the contact.<br>\nNot to be used for organizations.",
                                                        "type": "string",
                                                        "format": "date",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "vatNumber": {
                                                        "description": "Vat number of the contact.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "bankAccount": {
                                                        "description": "Bank account number (IBAN) of the contact.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "bankNumber": {
                                                        "description": "Bank number of the bank used by the contact.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "defaultCashbackTime": {
                                                        "description": "Absolute time in days which the contact has to pay his invoices and subsequently get a cashback.",
                                                        "type": "integer",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "defaultCashbackPercent": {
                                                        "description": "Percentage of the invoice sum the contact gets back if he payed invoices in time.",
                                                        "type": "number",
                                                        "format": "float",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "defaultTimeToPay": {
                                                        "description": "The payment goal in days which is set for every invoice of the contact.",
                                                        "type": "integer",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "taxNumber": {
                                                        "description": "The tax number of the contact.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "taxOffice": {
                                                        "description": "The tax office responsible for the contact.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "exemptVat": {
                                                        "description": "Defines if the contact is freed from paying vat.",
                                                        "type": "boolean",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "taxType": {
                                                        "description": "Defines which tax regulation the contact is using.",
                                                        "type": "string",
                                                        "default": null,
                                                        "enum": [
                                                            "default",
                                                            "eu",
                                                            "noteu",
                                                            "custom"
                                                        ],
                                                        "nullable": true
                                                    },
                                                    "taxSet": {
                                                        "description": "Tax set which is used in every invoice of the contact.",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the tax set",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'TaxSet'",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "defaultDiscountAmount": {
                                                        "description": "The default discount the contact gets for every invoice.<br>\nDepending on defaultDiscountPercentage attribute, in percent or absolute value.",
                                                        "type": "number",
                                                        "format": "float",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "defaultDiscountPercentage": {
                                                        "description": "Defines if the discount is a percentage (true) or an absolute value (false).",
                                                        "type": "boolean",
                                                        "default": null,
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Authentication required"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "/Contact/{contactId}": {
            "get": {
                "tags": [
                    "Contact"
                ],
                "summary": "Find contact by ID",
                "description": "Returns a single contact",
                "operationId": "getContactById",
                "parameters": [
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "ID of contact to return",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "objects": {
                                            "type": "array",
                                            "items": {
                                                "title": "Contact model",
                                                "description": "Contact model",
                                                "required": [
                                                    "category"
                                                ],
                                                "properties": {
                                                    "id": {
                                                        "description": "The contact id",
                                                        "type": "integer",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "objectName": {
                                                        "description": "The contact object name",
                                                        "type": "string",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "create": {
                                                        "description": "Date of contact creation",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "readOnly": true
                                                    },
                                                    "update": {
                                                        "description": "Date of last contact update",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "readOnly": true
                                                    },
                                                    "name": {
                                                        "description": "The organization name.<br>\nBe aware that the type of contact will depend on this attribute.<br>\nIf it holds a value, the contact will be regarded as an organization.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "customerNumber": {
                                                        "description": "The customer number",
                                                        "type": "string",
                                                        "default": null,
                                                        "example": "Customer-1337",
                                                        "nullable": true
                                                    },
                                                    "parent": {
                                                        "description": "The parent contact to which this contact belongs. Must be an organization.",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the parent contact",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'Contact'",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "surename": {
                                                        "description": "The <b>first</b> name of the contact.<br>\nYeah... not quite right in literally every way. We know.<br>\nNot to be used for organizations.",
                                                        "type": "string",
                                                        "default": null,
                                                        "example": "John",
                                                        "nullable": true
                                                    },
                                                    "familyname": {
                                                        "description": "The last name of the contact.<br>\nNot to be used for organizations.",
                                                        "type": "string",
                                                        "default": null,
                                                        "example": "Snow",
                                                        "nullable": true
                                                    },
                                                    "titel": {
                                                        "description": "A non-academic title for the contact.\nNot to be used for organizations.",
                                                        "type": "string",
                                                        "default": null,
                                                        "example": "Commander",
                                                        "nullable": true
                                                    },
                                                    "category": {
                                                        "description": "Category of the contact.<br> For more information,\r\n     see <a href='https://my.sevdesk.de/apiOverview/index.html#/doc-contacts#types'>here</a>.",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the category",
                                                                "type": "integer",
                                                                "example": 3
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'Category'",
                                                                "type": "string",
                                                                "default": "Category"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "nullable": false
                                                    },
                                                    "description": {
                                                        "description": "A description for the contact.",
                                                        "type": "string",
                                                        "default": null,
                                                        "example": "Rightful king of the seven kingdoms",
                                                        "nullable": true
                                                    },
                                                    "academicTitle": {
                                                        "description": "A academic title for the contact.\nNot to be used for organizations.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "gender": {
                                                        "description": "Gender of the contact.<br>\nNot to be used for organizations.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "sevClient": {
                                                        "description": "Client to which contact belongs. Will be filled automatically",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the client",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'SevClient'",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "readOnly": true
                                                    },
                                                    "name2": {
                                                        "description": "Second name of the contact.<br>\nNot to be used for organizations.",
                                                        "type": "string",
                                                        "default": null,
                                                        "example": "Targaryen",
                                                        "nullable": true
                                                    },
                                                    "birthday": {
                                                        "description": "Birthday of the contact.<br>\nNot to be used for organizations.",
                                                        "type": "string",
                                                        "format": "date",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "vatNumber": {
                                                        "description": "Vat number of the contact.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "bankAccount": {
                                                        "description": "Bank account number (IBAN) of the contact.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "bankNumber": {
                                                        "description": "Bank number of the bank used by the contact.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "defaultCashbackTime": {
                                                        "description": "Absolute time in days which the contact has to pay his invoices and subsequently get a cashback.",
                                                        "type": "integer",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "defaultCashbackPercent": {
                                                        "description": "Percentage of the invoice sum the contact gets back if he payed invoices in time.",
                                                        "type": "number",
                                                        "format": "float",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "defaultTimeToPay": {
                                                        "description": "The payment goal in days which is set for every invoice of the contact.",
                                                        "type": "integer",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "taxNumber": {
                                                        "description": "The tax number of the contact.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "taxOffice": {
                                                        "description": "The tax office responsible for the contact.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "exemptVat": {
                                                        "description": "Defines if the contact is freed from paying vat.",
                                                        "type": "boolean",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "taxType": {
                                                        "description": "Defines which tax regulation the contact is using.",
                                                        "type": "string",
                                                        "default": null,
                                                        "enum": [
                                                            "default",
                                                            "eu",
                                                            "noteu",
                                                            "custom"
                                                        ],
                                                        "nullable": true
                                                    },
                                                    "taxSet": {
                                                        "description": "Tax set which is used in every invoice of the contact.",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the tax set",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'TaxSet'",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "defaultDiscountAmount": {
                                                        "description": "The default discount the contact gets for every invoice.<br>\nDepending on defaultDiscountPercentage attribute, in percent or absolute value.",
                                                        "type": "number",
                                                        "format": "float",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "defaultDiscountPercentage": {
                                                        "description": "Defines if the discount is a percentage (true) or an absolute value (false).",
                                                        "type": "boolean",
                                                        "default": null,
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. Contact was not found"
                    },
                    "401": {
                        "description": "Authentication required"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "put": {
                "tags": [
                    "Contact"
                ],
                "summary": "Update an existing contact",
                "description": "Update a contact",
                "operationId": "updateContact",
                "parameters": [
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "ID of contact to update",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Update data",
                    "content": {
                        "json": {
                            "schema": {
                                "title": "Contact model",
                                "description": "Contact model",
                                "required": [
                                    "category"
                                ],
                                "properties": {
                                    "id": {
                                        "description": "The contact id",
                                        "type": "integer",
                                        "readOnly": true,
                                        "nullable": false
                                    },
                                    "objectName": {
                                        "description": "The contact object name",
                                        "type": "string",
                                        "readOnly": true,
                                        "nullable": false
                                    },
                                    "create": {
                                        "description": "Date of contact creation",
                                        "type": "string",
                                        "format": "date-time",
                                        "readOnly": true
                                    },
                                    "update": {
                                        "description": "Date of last contact update",
                                        "type": "string",
                                        "format": "date-time",
                                        "readOnly": true
                                    },
                                    "name": {
                                        "description": "The organization name.<br>\nBe aware that the type of contact will depend on this attribute.<br>\nIf it holds a value, the contact will be regarded as an organization.",
                                        "type": "string",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "customerNumber": {
                                        "description": "The customer number",
                                        "type": "string",
                                        "default": null,
                                        "example": "Customer-1337",
                                        "nullable": true
                                    },
                                    "parent": {
                                        "description": "The parent contact to which this contact belongs. Must be an organization.",
                                        "required": [
                                            "id",
                                            "objectName"
                                        ],
                                        "properties": {
                                            "id": {
                                                "description": "Unique identifier of the parent contact",
                                                "type": "integer"
                                            },
                                            "objectName": {
                                                "description": "Model name, which is 'Contact'",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "surename": {
                                        "description": "The <b>first</b> name of the contact.<br>\nYeah... not quite right in literally every way. We know.<br>\nNot to be used for organizations.",
                                        "type": "string",
                                        "default": null,
                                        "example": "John",
                                        "nullable": true
                                    },
                                    "familyname": {
                                        "description": "The last name of the contact.<br>\nNot to be used for organizations.",
                                        "type": "string",
                                        "default": null,
                                        "example": "Snow",
                                        "nullable": true
                                    },
                                    "titel": {
                                        "description": "A non-academic title for the contact.\nNot to be used for organizations.",
                                        "type": "string",
                                        "default": null,
                                        "example": "Commander",
                                        "nullable": true
                                    },
                                    "category": {
                                        "description": "Category of the contact.<br> For more information,\r\n     see <a href='https://my.sevdesk.de/apiOverview/index.html#/doc-contacts#types'>here</a>.",
                                        "required": [
                                            "id",
                                            "objectName"
                                        ],
                                        "properties": {
                                            "id": {
                                                "description": "Unique identifier of the category",
                                                "type": "integer",
                                                "example": 3
                                            },
                                            "objectName": {
                                                "description": "Model name, which is 'Category'",
                                                "type": "string",
                                                "default": "Category"
                                            }
                                        },
                                        "type": "object",
                                        "nullable": false
                                    },
                                    "description": {
                                        "description": "A description for the contact.",
                                        "type": "string",
                                        "default": null,
                                        "example": "Rightful king of the seven kingdoms",
                                        "nullable": true
                                    },
                                    "academicTitle": {
                                        "description": "A academic title for the contact.\nNot to be used for organizations.",
                                        "type": "string",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "gender": {
                                        "description": "Gender of the contact.<br>\nNot to be used for organizations.",
                                        "type": "string",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "sevClient": {
                                        "description": "Client to which contact belongs. Will be filled automatically",
                                        "required": [
                                            "id",
                                            "objectName"
                                        ],
                                        "properties": {
                                            "id": {
                                                "description": "Unique identifier of the client",
                                                "type": "integer"
                                            },
                                            "objectName": {
                                                "description": "Model name, which is 'SevClient'",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object",
                                        "readOnly": true
                                    },
                                    "name2": {
                                        "description": "Second name of the contact.<br>\nNot to be used for organizations.",
                                        "type": "string",
                                        "default": null,
                                        "example": "Targaryen",
[...]
